@import 'normalize';
@import 'response';
@import 'http://fonts.googleapis.com/css?family=Roboto';
@import 'http://fonts.googleapis.com/css?family=Roboto+Condensed';

$maxwidth: 1020px;
$boxpadding: 10px;
$screen-md-min: 992px;

.container {
  margin: 0 auto;
  padding: 1em ($boxpadding + 5px);
  max-width: $maxwidth;

  * {
    box-sizing: border-box;
  }
}

.article-wrapper,
.article-box {
  border: 2px solid #333;
}
.article-wrapper {
  padding: $boxpadding 0;
}
.article-box {
  margin-left: -($boxpadding + 4);
  margin-right: -($boxpadding + 4);
  position: relative;

  .box-line {
    position: absolute;
    width: 50px;
    height: 1px;
    background: #333;

    &.topleft {
      top: 0;
      left: 0;
      margin-top: -$boxpadding;
      transform-origin: top left;
      transform: rotate(45deg);
    }
    &.topright {
      top: 0;
      right: 0;
      margin-top: -$boxpadding;
      transform-origin: top right;
      transform: rotate(-45deg);
    }
    &.bottomleft {
      bottom: 0;
      left: 0;
      margin-bottom: -$boxpadding;
      transform-origin: bottom left;
      transform: rotate(-45deg);
    }
    &.bottomright {
      bottom: 0;
      right: 0;
      margin-bottom: -$boxpadding;
      transform-origin: bottom right;
      transform: rotate(45deg);
    }
  }
}

.article {
  margin: 0 2em;
  padding-bottom: 2em;
  font-size: 16px;
  font-family: Roboto, 'helvetica neue', sans-serif;
  line-height: 2em;
  color: #23242E;

  p {
    margin: 0;
    padding: 0;
  }
}

.article .header {
  padding-top: 1em;
  text-align: center;

  h2 {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.3em;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
  }
  h1 {
    line-height: 1.3em;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Roboto Condensed';

    span {
      display: block;
      color: #898989;
      font-size: 0.9em;
      font-style: italic;
      font-family: Times;
      letter-spacing: -0.8px;
      padding-top: 0.5em;
    }
  }

  .desc {
    font-family: 'Roboto Condensed';
    display: inline-block;
    margin: 0 auto;
    padding-top: 1em;
    border-top: 2px solid #D8D8D8;
    line-height: 1.2em;

    .editor {
      border-right: 1px solid #E9E9E9;
      padding: 0 10px 0 0;
      display: inline-block;
      letter-spacing: 0.1em;
      margin: 0 10px 0 0;

      img {
        width: 1.2em;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
    .date {
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
      color: #A89379;
    }
  }
}

.article .content {
  margin-top: 5em;

  img {
    max-width: 100%;
  }

  ol.note,
  ul.note {
    margin: 0;
    padding: 0;
  }
  ol.note li,
  ul.note li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2.2em;
    font-size: 0.9em;

    label {
      margin-right: 5px;
      font-family: 'helvetica neue';
      color: #CFCFCF;
    }
  }

  ol.step,
  ul.step {
    margin: 0;
    padding: 0;
  }
  ol.step li,
  ul.step li {
    margin-left: 20px;
    padding: 0;
    list-style: none;
    line-height: 2.2em;

    label {
      display: inline-block;
      width: 20px;
      margin-left: -20px;
    }
  }

  p.para {
    margin: 1.5em 0;
    white-space: pre-wrap;

    &.center {
      margin: 1.5em auto;
    }

    a {
      color: #E7505A;
      text-decoration: none;
    }
  }

  hr {
    margin: 1.5em 0;
    border-top: none;
    border-bottom: 1px solid #D1D1D1;
  }

  blockquote {
    margin: 0 1em;
    padding: 1em 0 1.4em;
    font-family: Times;
    font-style: italic;
    font-size: 1.7em;
    font-weight: 200;
    line-height: 1.5em;
    text-align: center;
    color: #262626;

    .line {
      padding: 1em 0 1.5em;
      line-height: 0.1em;
      font-size: 0.7em;
      font-weight: bold;

      hr {
        margin: 0;
        display: inline-block;
        min-width: 120px;
      }
      span {
        margin: 0 1em;

        &.dot {
          position: relative;
          top: 2px;
        }
      }
    }

    &.comment {
      color: #5E5E5E;
      font-size: 0.9em;
      width: 80%;
      margin: 0 auto;
      line-height: 2em;
      text-align: left;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-family: 'Roboto';
    font-weight: 200;
    label {
      color: #BABABA;
    }
    &.title {
    }
  }

  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }

  .img-note {
    position: relative;
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 2em;

    .source {
      color: #CFCFCF;
    }
    .title {
      color: #2F303C;
      span {
        color: #CFCFCF;
      }
    }

    li {
      color: #898989;
    }
  }

  .row {
    margin-top: 2em;
    &.layout {
      margin-top: 0;
    }
  }
}

.article {
  &.video {
    .player-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      width: 100%;
      height: 0;

      .player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
    #player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    h4 {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
      line-height: 1.4em;

      label {
        display: block;
        font-family: 'Roboto Condensed';
        font-size: 1.5em;
        font-weight: bold;
        line-height: 2em;
        color: #D6000C;
      }
    }

    .video {
      position: relative;
      img {
        display: block;
      }
      a.mask {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.32);

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -2em;
          margin-left: -2em;
          width: 4em;
          height: 4em;
        }
      }
    }

    p.shop {
      a {
        color: #23242E;
      }
    }

    .step {
      text-align: center;
      line-height: 1.8em;

      p.note {
        margin-top: 1em;
        color: #898989;
      }

      img {
        margin: 2em 0;
      }
    }
  }
}

@media (max-width: 420px) {
  .article .header {
    .desc {
      line-height: 1.2em;
      .editor {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .article {
    margin: 0 5em;


    .img-note {
      &.top100 {
        position: relative;
        top: 100px;
        z-index: 1;
      }
      &.bottom50 {
        position: relative;
        bottom: 50px;
        z-index: 1;
      }
      &.alignleft {
        text-align: left;
      }
    }
  }
  .article .header {
    padding-top: 5em;

    h2 {
      font-size: 1.2em;
    }
    h1 {
      font-size: 3em;
    }
  }

}
