---
layout: default
---

<div class="article-wrapper">
  <div class="article-box">
    <div class="article">
      <div class="header">
        <h2>charis article - beauty</h2>
        <h1>{{ page.title }}</h1>

        <div class="desc">
          <p class="editor"><img src="{{ site.url }}/assets/img/ic_editor.png"><label>Editor</label> {{ page.author }}</p>
          <p class="date">{{ page.date | date: '%B %d, %Y' }}</p>
        </div>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
    <div class="box-line topleft"></div>
    <div class="box-line topright"></div>
    <div class="box-line bottomleft"></div>
    <div class="box-line bottomright"></div>
  </div>
</div>
